/**
 * @name Hide Discover Button
 * @description Hide the stupid discord discovery button that sits at the bottom of the server list and breaks certain other themes
 * @author s7david
 * @version 1.1.0
 * @invite 8FBjza6x8N
 * @website https://github.com/rondotdll
 */

div[class^="itemsContainer_"] > div[class^="footer_"] {
    padding: 0px;
}

div[class^="itemsContainer_"] > div[class^="footer_"] > div[class^="gradient_"]{
    display: none;
    background: transparent;
}

div[class^="itemsContainer_"] > div[class^="footer_"] > div[class^="listItem_"] {
    display: none;
    margin: 0px;
}
